/*Font style*/
@import url('https://fonts.googleapis.com/css?family=Roboto+Slab:400,700');

/* COMMON */
* {
  margin: 0;
  padding: 0;
}
body {
  background: linear-gradient(-180deg, rgba(0,0,0,0.00) 0%, rgba(0,0,0,0.35) 50%), url('../images/anonymous-server-background.jpg') center no-repeat;
  background-size: cover;
  height: 100vh;
  font-family: 'Roboto Slab';
}
/* HEADER */
.nav-trigger {
  background-image: url('../images/ico-menu.svg');
  background-position: center;
  background-repeat: no-repeat;
  background-color: #402929e8;
  transition: background-color ease 0.7s;
  position: absolute;
  top: 20px;
  right: 20px;
  border-radius: 5px;
  border-style: none;
  height: 50px;
  width: 50px;
  cursor: pointer;
}
.nav-trigger:hover {
  background-color: #8e8989e8;
}
/*js Style*/
.page--nav-visible .nav {
  transform: translate(0);
}
.page--nav-visible::after {
  content: '';
}
/* MENU */
.nav {/*modificado entero*/
  position: fixed;
  width: 100%;
  height:100vh;
  z-index: 4;
  transform: translate(100%);
  transition: transform ease 1s;
  background-color: rgba(64, 41, 41, 0.92);
}
.nav__items {
  list-style: none;
  font-size: 28px;
  font-weight: bold;
  margin: 30px;
  padding-top: 90px;
}
.nav__item {
  text-align: center;
  line-height: 40px;
}
.nav__item:hover {
  transform: scale(1.1);
  transition: transform ease 0.8s;
}
.nav__link {
  text-decoration: none;
  color: rgba(243, 236, 236, 0.92);
}
.nav__link:hover {
  color: #fff;
}
.nav-close {
  background-image: url('../images/ico-close.svg');
  background-position: center;
  background-repeat: no-repeat;
  background-color: #1c1515e8;
  transition: background-color ease 0.7s;
  position: absolute;
  top: 20px;
  right: 20px;
  border-radius: 5px;
  border-style: none;
  height: 50px;
  width: 50px;
  cursor: pointer;
}
.nav-close:hover {
  background-color: #8e8989e8;
}
/* MAIN */
.page__main-title {
  font-size: 30px;
  text-transform: uppercase;
  color: #fff;
  margin-left: 30px;
  padding-top: 384px;;
  max-width: 300px;
}
/* FOOTER */
.page__footer {
  display: flex;
  justify-content: center;
  background-color: rgba(122, 111, 111, 0.42);
  height: 30px;
  border-radius: 5px;
  position: absolute;
  left: 30px;
  right: 30px;
  bottom: 20px;
}
.page__footer-copy {
  font-size: 14px;
  color: #858993;
  font-family: 'arial';
  text-align: center;
  margin: 7px;
}
@media all and (min-width: 500px) {
  .page__main-title {
    font-size: 50px;
  }
}
@media all and (min-width: 768px) {
  .nav__items {
    font-size: 35px;
    padding-top: 164px;
  }
  .nav__item {
    line-height: 58px;
  }
  .page__main-title {
    font-size: 65px;
    margin-left: 60px;
    max-width: 990px;
  }
  .page__footer {
    left: 60px;
    right: 60px;
  }
}
@media all and (min-width: 830px) {
  .nav__items {
    font-size: 45px;
  }
  .nav__item {
    line-height: 79px;
  }
  .page__main-title {
    font-size: 80px;
  }
}
@media all and (min-width: 940px) {
  .page__main-title {
    font-size: 95px;
  }
  .page__footer {
    left: 60px;
    right: 60px;
  }
}
